.search {
	padding: 2vh 0 1vh 0;
	text-align: center;
}

.iconGroup {
	position: fixed;
	top: 12px;
	right: 0;
	margin: 1vh 0vh;
	color: white;
}

.iconGroup > div {
	display: inline;
	margin: 1vh 2vh;
}

.iconGroup > div > * {
	height: 40px;
	width: auto;
	color: white;
	cursor: pointer;
}

.clearLogsBtn {
	position: fixed;
	top: 18px;
	left: 0;
	margin: 1vh;
	cursor: pointer;
}

.useAdvancedSearchBtn {
	font-size: small;
	margin-top: 8px;
	cursor: pointer;
	color: cornflowerblue;
	width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.nonLatest {
	position: fixed;
	top: 24px;
	left: 0;
	margin: 1vh;
	font-size: small;
}