.popup {
	composes: popup from './_common.module.css';
	z-index: 1050 !important;
	max-height: 60vh !important;
}

.licenses {
	height: 30vh;
	overflow-y: auto;
	overflow-x: hidden;
	overflow-wrap: break-word;
}

.licenses h2 {
	margin: 0;
}