.settings {
	composes: popup from './_common.module.css';
	max-height: unset !important;
	overflow: unset !important;
}

.licenseText {
	margin-top: 4px;
	text-align: center;
	display: block;
	width: 100%;
}

:global(.setting-container) {
	margin-bottom: 4px;
}