.buttonContainer {
	text-align: center;
}

.buttonContainer button {
	cursor: pointer;
}

.buttonContainer button:disabled {
	cursor: not-allowed;
}

.notice {
	text-align: center;
	display: block;
	margin-top: 8px;
}